.home_product_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    .home_section_card {
        width: 100%;
        min-height: 350px;
        background-color: var(--background-white);
        margin: 16px 0;
        padding: 1% 6%;
        height: 100%;
    }
}