.home_jumbotron {
    height: 200px;
    background-color: var(--background-white);
    margin: 25px 0 0 0;

    display: flex;
    justify-content: space-around;
    align-items:center;

    h3 {
        text-align: center;
    }

    .jumbotron_content {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}